img {
  width: 100%;
}
a {
  text-decoration: none;
}

body {
  background: #f8f2e2;
}

.font-cake {
  color: #a67c52;
  font-family: font-cake;
}

.font-cooper {
  font-family: cooper;
  color: #42210b;
}

.cake-img img {
  width: 40%;
}

.header-table {
  color: #efbf6c;
  background: #a67c52;
  font-size: 30px;
}

.d-flex-cake {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.d-flex-cake img {
  margin-bottom: 30px;
}

.title {
  font-size: 75px;
}

.card {
  background: #e8b187;
  color: #42210b;
}

.video {
  width: 100%;
  height: 400px;
  border-radius: 5px;
  overflow: hidden;
}

.video video {
  width: 100%;
}

.footer img {
  width: 60px;
}

.logo {
  width: 70%;
}

.card-content {
  min-height: 350px;
  display: flex;
  padding: 10px;
  align-items: center;
}
